.subscribe__us {
  background-image: url("../../assets/img/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 2rem 7rem 2rem;

  color: $white;

  display: flex;
  flex-direction: column;
}

.subscribe__form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > input {
    background-color: transparent;
    padding: 1rem;
    border: 1px solid $white;
    margin-right: 0.5rem;
    flex-basis: 30%;
    color: $white;

    &:active,
    &:hover,
    &:focus {
      outline: 0;
      outline-offset: 0;
    }

    &::placeholder {
      color: #cfd3d4;
    }
  }
}


