<!DOCTYPE html>
<html lang="ru">
  <head>
    {{> head }}
  </head>
  <body>
    <!-- Header -->
    {{> header }}

    <!-- 1 Screen -->
    {{> first }}

    <!-- 2 Screen -->
    {{> second }}

    <!-- 3 Screen -->
    {{> third }}

    <!-- 4 Screen -->
    {{> our_services }}

    <!-- 5 Screen -->
    {{> team_quotes }}

    <!-- 6 Screen -->
    {{> portfolio }}

    <!-- 7 Screen -->
    {{> team }}

    <!-- 8 Screen -->
    {{> team_sta }}

    <!-- 9 Screen -->
    {{> blog }}

    <!-- 10 Screen-->
    {{> our__price}}

    <!-- 11 Screen-->
    {{> subscribe__us}}

    <!-- 12 Screen-->
    {{> contact__us}}

    <!-- 13 Screen-->
    {{> form }}

    <!-- 14 Screen-->
    {{> map }}

    <!-- 15 Screen-->
    {{> footer }}

    <script src="assets/js/app.min.js"></script>
  </body>
</html>
