
<section class="blog" id="blog">


    <div class="blog__about">
        <h2 class="blog__title">lattest news</h2>
        <p class="blog__description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
    </div>
    
    
    <div class="blog__info">
        <h3>The trending Landing Pages</h3>
        <p class="position">by <span class="green green__cursive">kabir uddin</span>
        </p>
        <div class="blog__info__social">
          <ul class="blog__info__social__list">
          <li>6950 Likes</li>
          <li>– 243 Comments</li>
          <li>– 703 shares</li>
            </ul>
         </div>
      <div class="blog__info__description">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio...  
      </div>
      
      <a class="blog__info__readMore" href="#">+ Read More</a>
    </div>
    
    </section>
    