<div class="contact__us" id="contact">
  <div class="our__services">
    <div class="about--centered">
      <div class="about__title">contact us</div>

      <div class="about__description our__decription">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        <br />
        blanditiis praesentium
      </div>
    </div>
  </div>

  <div class="contact__us__items">
    <div class="contact__us__item">
      <div class="contact__us__background contact__us__background--first">
        <img src="../../assets/img/icons/email.svg" alt="" />
      </div>
      <div class="contact__us__info">
        <div class="contact__us__title">email</div>
        <div class="contact__us__description">
          <p>hello@codecafe.com</p>
          <p>Personal@codecafe.com</p>
        </div>
      </div>
    </div>

    <div class="contact__us__item">
      <div class="contact__us__background contact__us__background--second">
        <img src="../../assets/img/icons/location.svg" alt="" />
      </div>
      <div class="contact__us__info">
        <div class="contact__us__title">our office</div>
        <div class="contact__us__description">
          <p>240 Bhatikhana, 8200 Barisal</p>
          <p>Bangladesh</p>
        </div>
      </div>
    </div>

    <div class="contact__us__item">
      <div class="contact__us__background contact__us__background--third">
        <img src="../../assets/img/icons/phone-call.svg" alt="" />
      </div>
      <div class="contact__us__info">
        <div class="contact__us__title">phone</div>
        <div class="contact__us__description">
          <p>+00 11 66 99 66 44</p>
          <p>11 99 66 44 065</p>
        </div>
      </div>
    </div>
  </div>
</div>
