<footer class="footer">
    <div class="footer__main">
    <div class="company__name">bouncy</div>
    <div class="company__description">Copyright 2015. All rights Reserved</div>
    <div class="company__social">
            <img src="../../assets/img/icons/facebook.svg" alt="" />
            <img src="../../assets/img/icons/twitter.svg" alt="" />
            <img src="../../assets/img/icons/linkedin.svg" alt="" />
            <img src="../../assets/img/icons/instagram.svg" alt="" />
            <img src="../../assets/img/icons/vimeo.svg" alt="" />
    </div>
</div>
</footer>

