
<div class="form--section">
<form class="contact__form">
    <div class="contact__form__item contact__form__item--name"><input placeholder="Your Name" type="text"></div>
    <div class="contact__form__item contact__form__item--mail"><input placeholder="Email Adress" type="email"></div>
    <div class="contact__form__item contact__form__item--subject"><input placeholder="Subject" type="text"></div>
    <div class="contact__form__item contact__form__item--main"><textarea class="textarea"  name="text" id="textarea" cols="80" rows="12"></textarea></div>
    <div class="contact__form__item contact__form__item--button">submit now</div>
</form>

</div>