<div class="our__services" id="services">
  <div class="about--centered">
    <div class="about__title">our services</div>

    <div class="about__description our__decription">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui
      <br />
      blanditiis praesentium
    </div>
  </div>
</div>

<div class="about__infobox">
  <div class="our__services--main">
    <div class="about--icons services--icons left--ic">
      <div class="icon support">
        <img src="../../assets/img/icons/customer-support.svg" alt="" />
      </div>
      <div class="icon mouse">
        <img src="../../assets/img/icons/roller.svg" alt="" />
      </div>
      <div class="icon light">
        <img src="../../assets/img/icons/console.svg" alt="" />
      </div>
      <div class="icon light">
        <img src="../../assets/img/icons/plug.svg" alt="" />
      </div>
    </div>
    <div class="about__part about__part__services">
      <div class="about__subtitle">Graphic Design</div>

      <div class="about__description">
        At vero eos et accusamus et <span class="span--green"> vero </span> odio dignissimos <span class="span--bold">ducimus</span> qui blanditiis praesentium voluptatum deleniti
      </div>

      <div class="about__description about__description--sm">
        At <span class="span--green">vero</span> eos et accusamus et iusto odio
        dignissimos<span class="span--bold">ducimus</span>qui blanditiis
        praesentium voluptatum deleniti atque corrupti quos doloresqui
        blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
      </div>
    </div>

    <div class="about__part">
      <div class="rt-container">
        <div class="radialProgressBar progress-80">
          <div class="overlay">80% <br> Branding</div>
          <div class="progress__text"></div>
          <div class="progress__text2"></div>

        </div>

        <div class="radialProgressBar progress-75">
          <div class="overlay">75% <br> Web Design</div>
          <div class="progress__text"></div>
        </div>

        <div class="radialProgressBar progress-60">
          <div class="overlay">60% <br> UI/UX</div>
        </div>
      </div>
    </div>
  </div>
</div>
