<div class="our__price">

    <div class="our__services">
        <div class="about--centered">
          <div class="about__title">our price</div>
      
          <div class="about__description our__decription">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            <br />
            blanditiis praesentium
          </div>
        </div>
      </div>


      <div class="price__cards">
        <div class="price__card">
            <div class="price__card__title price__card__premium"></div>
            <div class="price__card__information">
                    <div class="price__card__list">
                            <ul>
                                <li>Full Branding</li>
                                <li>Project Management</li>
                                <li>Unlimited Revisions</li>
                                <li>24/7 h Service</li>
                                <li>Free Domain</li>
                                <li>Free Hosting</li>
                            </ul>
                        </div>
            <div class="price__card__amount">$ 60</div>
            <div class="price__card__time">Per Mounth</div>
        </div>
        </div>
        <div class="price__card">
            <div class="price__card__title price__card__standart"></div>
            <div class="price__card__information">
            <div class="price__card__list">
                <ul>
                    <li>Full Branding</li>
                    <li>Project Management</li>
                    <li>Unlimited Revisions</li>
                    <li>24/7 h Service</li>
                    <li>Free Domain</li>
                    <li>Free Hosting</li>
                </ul>
            </div>
            <div class="price__card__amount">$ 70</div>
            <div class="price__card__time">Per Mounth</div>
        </div>
        </div>
        <div class="price__card">
            <div class="price__card__title price__card__exclusive"></div>
            <div class="price__card__information">
                    <div class="price__card__list">
                            <ul>
                                <li>Full Branding</li>
                                <li>Project Management</li>
                                <li>Unlimited Revisions</li>
                                <li>24/7 h Service</li>
                                <li>Free Domain</li>
                                <li>Free Hosting</li>
                            </ul>
                        </div>
            <div class="price__card__amount">$ 80</div>
            <div class="price__card__time">Per Mounth</div>
        </div>
        </div>
</div>
</div>