<div class="portfolio__block" id="portfolio">
  <div class="our__services">
    <div class="about--centered about--centered--gray">
      <div class="about__title">the portfolio</div>

      <div class="about__description our__decription">
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        <br />
        blanditiis praesentium
      </div>
    </div>
  </div>

  
    <div class="portfolio__nav">
      <ul class="portfolio__list">
        <li class="portfolio__list--item"><a href="#">All Works</a></li>
        <li class="portfolio__list--item"><a href="#">Print</a></li>
        <li class="portfolio__list--item"><a href="#">Identity</a></li>
        <li class="portfolio__list--item"><a href="#">Branding</a></li>
        <li class="portfolio__list--item"><a href="#">Web</a></li>
        <li class="portfolio__list--item"><a href="#">HTML</a></li>
        <li class="portfolio__list--item"><a href="#">Wordpress</a></li>
      </ul>
    </div>

  <div class="portfolio__grid">
    <div class="main__content">
      <div class="portfolio">
        <div class="portfolio--item portfolio--item--first">
          <img class="image" src="../../assets/img/portfolio/one.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--second">
          <img class="image" src="../../assets/img/portfolio/two.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--third">
          <img class="image" src="../../assets/img/portfolio/three.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--fourth">
          <img class="image" src="../../assets/img/portfolio/four.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--fifth">
          <img class="image" src="../../assets/img/portfolio/five.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--sixth">
          <img class="image" src="../../assets/img/portfolio/six.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--seventh">
          <img class="image" src="../../assets/img/portfolio/seven.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--eight">
          <img class="image" src="../../assets/img/portfolio/eight.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--nineth">
          <img class="image" src="../../assets/img/portfolio/nine.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--tenth">
          <img class="image" src="../../assets/img/portfolio/ten.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--eleventh">
          <img class="image" src="../../assets/img/portfolio/eleven.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>

        <div class="portfolio--item portfolio--item--twelfth">
          <img class="image" src="../../assets/img/portfolio/twelve.jpg" alt="portfolio-img" />
          <a class="overlay2" href="#" target="_blank">
            <div class="text2">
              <p class="title2">title here</p>
              <div class="divider2"></div>
              <p class="sub-title2">
                At vero eos et accusamus et iusto odio dignissimos ducimus 
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="green--block">
    <div class="green--block--content">
      <h2>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui
        blanditiis
      </h2>
      <div class="btn btn--white">Start Project</div>
    </div>
  </section>
</div>
