
  <div class="second" id="hello">
    <div class="grid-flex">
      
      <div class="col col-text col-left col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="Aligner-item">
          <div class="about__title">This is Bouncy</div>

          <div class="about__description">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos
            dolores et quas molestias excepturi sint occaecati cupiditate non
            provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
            est et expedita distinctio.
          </div>

          <div class="btn about--btn">
            <a class="btn--link" href="index.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col col-image col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <img src="../../assets/img/ipad.png" alt="s" />
      </div>
    </div>
  </div>
