<div class="subscribe__us" >

    <div class="our__services">
        <div class="about--centered">
          <div class="about__title">subscribe us</div>
      
          <div class="about__description our__decription">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            <br />
            blanditiis praesentium
          </div>
        </div>
      </div>

      <div class="subscribe__form">
      <input type="email" placeholder="Email Adress">
        <div class="green--btn">submit</div>
    </div>

</div>