<div class="team__quotes" >
    <div class="team__about">
    <h2 class="team__title">Impressed ?</h2>
    <p class="team__description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias</p>
    <p class="author">Abdullah Noman</p>
    <p class="position">Creatice Director, <span class="green">Code Cafe</span> </p>
    </div>
    
    <div class="imac">
      <img src="../../assets/img/imac.png" alt="s" />
    </div>
    
  </div>