

  <div class="team__slider" id="team">
    <div class="our__services">
        <div class="about--centered">
          <div class="about__title">the team</div>
      
          <div class="about__description our__decription">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            <br />
            blanditiis praesentium
          </div>
        </div>
      </div>

      <div class="tripple-slider">
          <div class="img--slider col-lg-4 col-md-6">
              <img src="../../assets/img/team1.jpg" alt="">
          </div>

          <div class="info--slider col-lg-4 col-md-6">
              <div class="title--slider">Abdullah Noman</div>
              <div class="sub-title--slider">Creative Director, Code Cafe</div>
              <div class="description--slider">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</div>
              <div class="progress--slider">

                <ul class="skills-bar-container">
  
                    <li>
                      <div class="progressbar-title">
                        <h3>BRANDING</h3>
                        <span class="percent" id="html-pourcent">80%</span>
                      </div>
                      <div class="bar-container">
                        <span class="progressbar progressgreen" id="progress-html"></span>
                      </div>
                    </li>
                    <li>
                      <div class="progressbar-title">
                        <h3>WEB DESIGN</h3>
                        <span class="percent" id="css-pourcent">65%</span>
                      </div>
                      <div class="bar-container">
                        <span class="progressbar progressgreen" id="progress-css"></span>
                      </div>
                    </li>
                    
                    <li>
                      <div class="progressbar-title">
                        <h3>USER INTERFACE</h3>
                        <span class="percent" id="javascript-pourcent">75%</span>
                      </div>
                      <div class="bar-container">
                        <span class="progressbar progressgreen" id="progress-javascript"></span>
                      </div>
                    </li>
                    
                    
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <section class="black--block">

        <div class="black--block--content">
          <h2>Already Loved Us? Let’s talk!</h2>
          <div class="btn btn--white">Contact Us</div>
        </div>
        </section>


        