<div class="team_sta">

  <div class="our__services">
          <div class="about--centered">
            <div class="about__title">testimonials</div>
        
            <div class="about__description our__decription">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              <br />
              blanditiis praesentium
            </div>
          </div>
  </div>
  
      <div class="team_sta--slider">
          <div class="team--img"><img src="../../assets/img/team__testimonials/PARTHO.png" alt=""></div>
          <div class="team--description">
            <div class="team--description--main">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia.
            </div>
            
            <div class="team--description--name">partho</div>
            <div class="team--description--position">FOUNDER, ARTWAYS BD</div>
        </div>
      </div>
  
  </div>