<div class="about" id="about">
  <div class="about__details about--centered">
    <div class="about__title about__details__title">details about bouncy</div>

    <div class="about__description about__details__description ab__descr">
      At vero eos et accusamus et iusto odio dignissimos ducimus qui
      <br />
      blanditiis praesentium
    </div>

    <div class="about--icons">
      <div class="icon heart">
        <img src="../../assets/img/icons/heart.svg" alt="" />
      </div>
      <div class="icon mouse">
        <img src="../../assets/img/icons/mouse.svg" alt="" />
      </div>
      <div class="icon light">
        <img src="../../assets/img/icons/light-bulb.svg" alt="" />
      </div>
    </div>

    <div class="about__infobox">
      <div class="about__part">
        <div class="about__subtitle">Creative Ideas</div>

        <div class="about__description">
          At <span class="span--green">vero</span> eos et accusamus et iusto
          odio dignissimos <span class="span--bold">ducimus</span> qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
        </div>
      </div>

      <div class="about__part">
        <div class="about__description">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque
          <span class="span--bold">corrupti quos</span> dolores et quas
          molestias <span class="span--green">excepturi</span> sint occaecati
          cupiditate non provident,
          <span class="span--bold">similique</span> sunt in culpa qui officia
          deserunt mollitia animi, id est laborum et dolorum fuga
        </div>
      </div>
    </div>
  </div>
</div>
