$black: #242929;
$white: #fff;
$gray: #81868e;
$light-gray: #f3f3f3;
$green: #19BD9A;
$radius: 172px 172px 172px 172px;


$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md: 768px;
$screen-sm: 576px;


$screen-lg-max: 1199px;
$screen-md-max: 991px;
$screen-sm-max: 767px;
$screen-xs-max: 575px;

